<h5>Technologies used</h5><% if (foundation) { %>
<ul id="technologiesItemView" class="small-block-grid-6">

</ul><% } %><% if (bootstrap) { %>
<div id="technologiesItemView" class="row">

</div><% } %>
