<li><a href="#">Home</a></li>
<li><a>|</a></li>
<li><i class="fa fa-2x fa-user white"></i></li>
<li><a>{{firstName}}</a></li><% if (foundation) { %>
<li class="has-dropdown not click">
    <a href="#"><i class="fa fa-cog"></i></a>
    <ul class="dropdown"><% } %><% if (bootstrap) { %>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog"></i><span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu"><% } %>
        <li><a href="#login">Login</a></li>
        <li><a href="#profile">Profile</a></li>
        <li><a href="/api/logout">Logout</a></li>
    </ul>
</li>
