<li><a href="#">Home</a></li>
<li><a>|</a></li>
<li><img src="{{imageSource}}"></li>
<li><a>{{firstName}}</a></li>
<li class="has-dropdown not click">
    <a href="#"><i class="fa fa-cog"></i></a>
    <ul class="dropdown">
        <li><a href="#login">Login</a></li>
        <li><a href="#profile">Profile</a></li>
        <li><a href="/api/logout">Logout</a></li>
    </ul>
</li>