<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="bower_components/mocha/mocha.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>
    <div id="mocha"></div>
    <script src="bower_components/mocha/mocha.js"></script>
    <script>mocha.setup({ui:'bdd', ignoreLeaks:true, bail:false})</script>
    <!-- assertion framework -->
    <script src="bower_components/chai/chai.js"></script>
    <script src="bower_components/sinon-chai/lib/sinon-chai.js"></script>
    <script type="text/javascript" src="bower_components/sinonjs/sinon.js"></script>
    <script>var should = chai.should();
            var expect = chai.expect;
    </script>

    <!-- include source files here... -->

    <!-- include spec files here... -->
    <script data-main="mocha-test-main" src="bower_components/requirejs/require.js"></script>
</body>
</html>
