<section class="container">
  <h1>Create</h1>
  <form name="model" class="form-horizontal">
    <div class="form-group">
      <label for="text" class="control-label">Text</label>
      <textarea id="text" name="text" type="text" class="text form-control"
        placeholder="Put your text here ..."></textarea>
    </div>

    <div class="form-group">
      <label for="author" class="control-label">Author</label>
      <input id="author" name="author" type="text"
        class="form-control" placeholder="Put your name here ..." />
    </div>

    <div class="form-group">
      <label for="created" class="control-label">Created at</label>
      <input id="created" name="created" type="text"
        value="{{formatDate created}}, on {{formatDay created}}" class="form-control" disabled />
    </div>

    <div class="form-group">
      <label>
        <input id="is-published" name="isPublished" type="checkbox" /> Is published
      </label>
    </div>

    <div class="form-group">
      <button class="create btn btn-primary">Create</button>
    <div>
  </form>
</section>
