<section class="row page-header">
  <span class="col-xs-6 text-capitalize title"><%= name %></span>
  <div class="col-xs-6 pull-right">
    <button class="create btn btn-primary pull-right">Create</button>
  </div>
</section>
<ul id="item-view-container" class="list-group"></ul>
