<div class="item">
  <div class="text col-xs-8 col-sm-10 col-md-10">{{text}}</div>

  <div class="col-xs-4 col-sm-2 col-md-2 pull-right">
    <button class="edit btn btn-default pull-right">{{t "crud.edit"}}</button>
  </div>
</div>
